<ion-header>
  <ion-toolbar color="success">
      <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" placeholder="your@email.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" placeholder="********"></ion-input>
        </ion-item>
        <ion-button color="success" size="block">Login</ion-button>
        <ion-button fill="clear" color="success" size="block">Register</ion-button>
        <ion-button color="dark" fill="clear" size="full">Forgot password?</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
